@import "~bootstrap/scss/mixins";

.page-header {
  @extend .section;

  &--light {
    @extend .section--light;
  }

  &--dark {
    @extend .section--dark;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 900;

    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
  }

  .illustration {
    &--offcanvas {
      margin-top: -4rem;
      width: 776px;

      @include media-breakpoint-down(lg) {
        //width: 676px;
      }

      @include media-breakpoint-down(lg) {
        position: relative;
        margin: -3.5rem 0 -6.5rem 0;
        width: 140%;
      }
    }
  }

  &--intro {
    padding: 8rem 0;

    @include media-breakpoint-down(md) {
      padding: 6rem 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 4rem 0;
    }

    h1 {

      font-size: 4rem;
      font-weight: 700;

      @include media-breakpoint-down(md) {
        font-size: 3rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
      }

    }

    .lead {
      @extend .mb-4;
    }

    .list-inline-item {
      font-size: 1.25rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .phone{
    height: 50rem;

    @include media-breakpoint-down(sm) {
      display: block;
      max-width: 0%;
      height: 0;
    }
  }

}