@import "~bootstrap/scss/_mixins.scss";

$primary: #0575E6;
$dark: #242424;
$light: #F2F2F2;
$body-color: #242424;

$font-family-sans-serif: "SF Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;;

$headings-font-weight: 700;

$border-radius: 10px;

$btn-padding-y: 11px;
$btn-padding-x: 27px;

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;

$card-border-width: 0;
$card-border-radius: 15px
